
.jsnippet {
  float: right;
  padding-right: 5%;
}
.jsnippet select {
  background: url(images/throbber.gif) no-repeat 1% 1px;
}
.jsnippet select.throbbing {
  background-position: 1% -19px;
}

/* Admin */
tr.jsnippets-add {
  text-align: right;
}
.jsnippets-admin {
  float: right;
  padding-right: 5%;
}
.jsnippets-admin a {
  display: block;
  width: 16px;
  height: 20px;
  text-indent: -100em;
  overflow: hidden;
  cursor: pointer;
}
.jsnippets-admin a {
  background: url(images/add.png) no-repeat right 3px;
}
